* {
    border: none;
    padding: 0 5;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(01, 25, 35, 0.8);
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    border-radius: 10px;
    color: #FFC5CD;
}

#window {
    color: #FFC5CD;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
    border-bottom: 3px solid transparent;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button.focused {
    background: #c53c4e;
    border-radius: 4px;
    color: white;
}

#mode {
    background: #db2b00;
    border-bottom: 3px solid white;
}

#clock, #battery, #network, #pulseaudio, #custom-cmus, #tray, #mode {
    padding: 0 10px;
    margin: 0px 2px;
}

#clock {
    border-bottom: 3px solid #FFC5CD;
}

#battery {
    background-color: transparent;
}

#battery.charging {
    color: #06db0a;
    background-color: transparent;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network {
    background: transparent;
}

#network.disconnected {
    color: white;
    background: #f53c3c;
}

#pulseaudio {
    background: transparent;
}

#pulseaudio.muted {
    background-color: #c53c4e;
    color: #2d3436;
    border-bottom: 3px solid transparent;
    padding: 0px 25px;
}

#backlight {
    background: transparent;
}

#idle_inhibitor {
    background-color: #2d3436;
    padding: 0px 12px;
}

#idle_inhibitor.activated {
    background-color: #c53c4e;
    color: #2d3436;
}

#tray {
    background-color: #2980b9;
}
